@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

    <header class="main-header clearfix" role="header">
        <div class="logo">
            <a href="#"><em>FPT</em> BTEC</a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href="/Authentication/Login" class="external">Login</a></li>
            </ul>
        </nav>
    </header>
    <!--header-->
}
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="~/assets/images/course-video.mp4" type="video/mp4" />
    </video>
</section>

